# GEMINI_API_KEY: Required for Gemini AI API calls.
# This is a placeholder key.
# AI Studio automatically injects this at runtime from user secrets.
# Users configure this via the Secrets panel in the AI Studio UI.
# IMPORTANT: Uncomment the line below if your app uses the Gemini API.
# If left commented out, the key will NOT be packaged in the APK.
# GEMINI_API_KEY=MY_GEMINI_API_KEY

# SMS.ir Fast Send / Verify API Configuration for New User OTP Registration
SMSIR_API_KEY=byJKEgfVch7jK8pUaFTZhhxchokDdCDuSMO7ugSTszt1qXnz
SMSIR_TEMPLATE_ID=944749
OTP_PEPPER=da50aedbb775c81025496211c86e7cf0c9f227d7a50cc7047714011d5e9bef49

